/* ======== REGISTROS ======== */
.card {
  border-radius: 12px;
  background: #fff;
  border: 1px solid #ddd;
}

h2 {
  font-weight: bold;
  color: #2c3e50;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.btn-primary {
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #00f2fe, #4facfe);
}

.btn-outline-secondary {
  border-radius: 8px;
}
