{% extends "base.html" %}
{% block title %}Cámara - Sistema de Parking{% endblock %}

{% block content %}
<div class="container text-center">
  <h2 class="mb-4 fw-bold text-primary">🎥 Vista en Vivo - Detector de Placas</h2>

  <div class="border border-2 rounded p-2 d-inline-block">
    <img src="{{ url_for('video_feed') }}" width="100%" style="max-width: 600px;" />
  </div>

  <div class="mt-4">
    <a href="{{ url_for('index') }}" class="btn btn-outline-primary">⬅ Volver</a>
  </div>
</div>
{% endblock %}
